.forecast-container {
  background-color: whitesmoke;
  height: 100vh;
  margin-right: 8em;
  margin-left: 8em
}

.five-day-forecast {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.forecast-icon {
  width: 15em;
  height: 12em;
  margin: 1.2em;
}

.forecast-date {
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.city-name {
  text-align: center;
  font-size: 3em;
  list-style: none;
  margin: 0.5em;
}

.current-temp {
  text-align: center;
  font-size: 0.7em;
  list-style: none;
  margin: 0.5em;
}

.details {
  text-align: center;
  font-size: 0.5em;
  list-style: none;
  margin: 0.5em;
}